<section class="animated fadeIn" >
   
    <div class="card-deck">
      
      <div class="card"  (click)='irA("principal/redes", "comunicaciones")'>
        
          <img 
            class="card-img-top" 
            src="../../assets/img/brand/10101.jpeg" 
            style="height: 160px; padding:10px">
       
        <div class="card-body">
          <h3 class="card-title" style="font-size:19px">Servidores</h3>
          <p class="card-text">Los servidores operan a través de una arquitectura cliente-servidor. 
            Los servidores son programas de computadora en ejecución.</p>
        </div>                  
      </div>
      
      <div class="card" (click)='irA("principal/redes", "conexiones")'>
       
          <img 
            class="card-img-top" 
            src="../../assets/img/brand/control.png" 
            style="height: 160px;padding:10px">
      
        <div class="card-body">                
          <h3 class="card-title" style="font-size:19px">Conexiones</h3>
          <p class="card-text">La conexión es el enlace que se establece entre el emisor y el 
            receptor a través del que se envía el mensaje.</p>
        </div>
        
      </div>

      
      <div class="card"  (click)='irA("principal/herramientas", "api")'>

          <img 
            class="card-img-top" 
            src="../../assets/img/brand/api.png" 
            style="height: 160px;padding:10px">
   
          <div class="card-body">
          <h3 class="card-title" style="font-size:19px">API REST</h3>
          <p class="card-text">Es una interfaz de programación de aplicaciones (Application Programming Interface).</p>
        </div>
      
      </div>
    
      <div class="card" (click)='irA("principal/seguridad", "rol")'>
        
          <img class="card-img-top" src="../../assets/img/brand/seguridad2.jpeg" style="height: 160px;padding:10px">
        
        <div class="card-body">
          <h3 class="card-title" style="font-size:19px">Seguridad</h3>
          <p class="card-text">Se puede referir a la ausencia de riesgo o a la confianza en algo o en alguien.</p>
        </div>
        
      </div>
    
    </div>

    <br>
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center" style="font-size:26px">Integraciones</h3>
          <hr>
          <div class="row">

            <div class="col-md-2 text-center" >
              <div style="circle">
                <img src="../../assets/img/brand/mongodb.png" style="height: 80px;padding:4px" >
              </div> 
            </div> 
            <div class="col-md-2 text-center">
              <div style="circle">
                <img src="../../assets/img/brand/mysql.png" style="height: 80px;padding:4px" >
              </div> 
            </div>
            <div class="col-md-2 text-center">
              <div style="circle">
                <img src="../../assets/img/brand/postgres.png" style="height: 80px;padding:4px" >
              </div> 
            </div>
            <div class="col-md-2 text-center">
              <div style="circle">
                <img src="../../assets/img/brand/oracle.jpg" style="height: 80px;padding:4px" >
              </div> 
            </div>
            <div class="col-md-2 text-center">
              <div style="circle">
                <img src="../../assets/img/brand/sqlserver.png" style="height: 80px;padding:4px" >
              </div> 
            </div>

            <div class="col-md-2 text-center">
              <div style="circle">
                <img src="../../assets/img/brand/rethink.png" style="height: 80px;padding:4px" >
              </div> 
            </div>

          </div>    <!-- Fin de Filas  -->

        </div>
        
      </div>
    </div>
  
</section>
