
<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2">
          <div class="callout callout-info">
            <small class="text-muted">Servidores</small><br>
            <strong class="h4">9,123</strong>
          </div>
        </div><!--/.col-->
        <div class="col-sm-2">
          <div class="callout callout-danger">
            <small class="text-muted">Conexiones</small><br>
            <strong class="h4">22,643</strong>
          </div>
        </div><!--/.col-->
        <div class="col-sm-2">
          <div class="callout callout-warning">
            <small class="text-muted">Aplicaciones</small><br>
            <strong class="h4">78,623</strong>
          </div>
        </div><!--/.col-->
        <div class="col-sm-2">
          <div class="callout callout-success">
            <small class="text-muted">Api Core</small><br>
            <strong class="h4">49,123</strong>
          </div>
        </div><!--/.col-->
        <div class="col-sm-2">
          <div class="callout">
            <small class="text-muted">Reportes</small><br>
            <strong class="h4">23</strong>
          </div>
        </div><!--/.col-->
        <div class="col-sm-2">
          <div class="callout callout-primary">
            <small class="text-muted">Pruebas</small><br>
            <strong class="h4">5</strong>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
    </div>
  </div>
  
  <div class="animated fadeIn" >
  <div class="card-deck">
    
    <div class="card">
      <img class="card-img-top" src="../../assets/img/brand/10101.jpeg" style="height: 160px;" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Servidores</h5>
        <p class="card-text">Los servidores operan a través de una arquitectura cliente-servidor. Los servidores son programas de computadora en ejecución que atienden las peticiones de otros programas.</p>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">
          <button type="button" class="btn btn-pill btn-primary " (click)='irA("principal/redes", "comunicaciones")'><i class="icon-note"></i> Agregar</button>
        </small>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="../../assets/img/brand/control.png" style="height: 160px;" alt="Card image cap">
      <div class="card-body">
        
        <h5 class="card-title">Conexiones</h5>
        <p class="card-text">La conexión es el enlace que se establece entre el emisor y el receptor a través del que se envía el mensaje. Comúnmente puede referirse al tipo de enlace</p>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">
          <button type="button" class="btn btn-pill btn-primary " (click)='irA("principal/redes", "conexiones")'><i class="icon-note"></i> Agregar</button>
        </small>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="../../assets/img/brand/api.png" style="height: 160px;"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">API REST</h5>
        <p class="card-text">Es una interfaz de programación de aplicaciones (Application Programming Interface). Es un conjunto de rutinas que provee acceso a funciones de un software.</p>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">
          <button type="button" class="btn btn-pill bg-primary" (click)='irA("principal/herramientas", "api")'><i class="icon-note"></i> Agregar</button>
        </small>
      </div>
    </div>
  
    <div class="card">
      <img class="card-img-top" src="../../assets/img/brand/seguridad2.jpeg" style="height: 160px;"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Seguridad</h5>
        <p class="card-text">Se puede referir a la ausencia de riesgo o a la confianza en algo o en alguien. 
          Sin embargo, el término puede tomar diversos sentidos según el área o campo al que haga referencia en la seguridad.</p>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">
          <button type="button" class="btn btn-pill bg-primary" ><i class="icon-note"></i> Agregar</button>
        </small>
      </div>
    </div>
  
  </div>
  
  </div>
  
  
  
  
  
  <!-- 
  
  <div class="animated fadeIn" style="margin: 5px;display:none" >
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
          <div class="brand-card-header bg-facebook">
            <h1 style="color:#FFFFFF">Servidores</h1>
            <div class="chart-wrapper" (click)='irA("conexiones")'>
              <canvas baseChart class="chart"
              [datasets]="brandBoxChartData1"
              [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions"
              [colors]="brandBoxChartColours"
              [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
          <div class="brand-card-header bg-twitter" (click)='irA("driver")'>
            <h1 style="color:#FFFFFF">Conexiones</h1>
            <div class="chart-wrapper" >
              <canvas baseChart class="chart"
              [datasets]="brandBoxChartData2"
              [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions"
              [colors]="brandBoxChartColours"
              [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
            </div>
          </div>
         
        </div>
      </div>
      
      <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
          <div class="brand-card-header bg-google-plus">
            <h1 style="color:#FFFFFF">Usuarios</h1>
            <div class="chart-wrapper">
              <canvas baseChart class="chart"
              [datasets]="brandBoxChartData4"
              [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions"
              [colors]="brandBoxChartColours"
              [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
            </div>
          </div>
          
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
          <div class="brand-card-header bg-linkedin" (click)='irA("apicore")'>
            <h1 style="color:#FFFFFF">API</h1>
            <div class="chart-wrapper">
              <canvas baseChart class="chart"
              [datasets]="brandBoxChartData3"
              [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions"
              [colors]="brandBoxChartColours"
              [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
            </div>
          </div>
         
        </div>
      </div>
    
    </div>
   
  
  </div>
  
  
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <ag-grid-angular
        style="width: 100%; height: 250px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize">
      </ag-grid-angular>
    </div>
  </div> -->
  
  
