
<div class="container">
    <br>
        <div class="col-md-12 text-justify">
            <form role="form" id="Api">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tipo</label>
                            <select id="cmbTipo" class="form-control selected"  
                                [ngModelOptions]="{standalone: true}" 
                                [(ngModel)]="tipo"  value ="{{tipo}}">
                                <option value="S">SELECCIONE</option>
                                <option value="LOGICA">LOGICA</option>
                                <option value="ARITMETICA">ARITMETICA</option>
                              
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" id="txtNombre" class="form-control" placeholder="Enter ..."  
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="nombre"  value ="{{nombre}}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Versión</label>
                            <input type="text" id="txtVersion" class="form-control" placeholder="Enter ..."  
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="version"  value ="{{version}}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Lenguaje</label>
                            <select id="cmbLenguaje" class="form-control selected"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="lenguaje"  
                            value ="{{lenguaje}}" (change)="cambiarModo()">
                                <option value="S">SELECCIONE</option>
                                <option value='GO'>GOLANG</option>
                                    <option value='PHP'>PHP +7</option>
                                    <option value='NJS'>NODE JS</option>
                                    <option value='C++'>C++</option>
                                    <option value='RDN'>REGLAS DE NEGOCIOS</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Categoria</label>
                            <select id="cmbCategoria" class="form-control selected"  
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="categoria"  value ="{{categoria}}">
                                <option value="S">SELECCIONE</option>
                                <option value="SCRIPT">SCRIPT</option>
                                <option value="PROGRAM">TAREAS PROGRAMADAS</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Mapa de Entrada</label>
                            <select id="cmbEntrada" class="form-control selected"  
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="entrada"  value ="{{entrada}}">
                                <option value="S">SELECCIONE</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Mapa de Salida</label>
                            <select id="cmbSalida" class="form-control selected"  
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="salida"  value ="{{salida}}">
                                <option value="S">SELECCIONE</option>
                                
                            </select>
                        </div>
                    </div>
                    
               
                   
                </div>
               
                <div class="row">
                    <div class="col-md-12">
                        <label>Esquema de entrada:</label>
                        <div class="form-group">
                            <ngx-codemirror
                            [ngModelOptions]="{standalone: true}" 
                            [(ngModel)]="esquemaEntrada"
                            (ngModelChange)="setEditorContent($event)"
                            [options]="codeMOEsquemaJson"
                            ></ngx-codemirror>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Esquema de Salida:</label>
                        <div class="form-group">
                            <ngx-codemirror
                            [ngModelOptions]="{standalone: true}" 
                            [(ngModel)]="esquemaSalida"
                            (ngModelChange)="setEditorContent($event)"
                            [options]="codeMOEsquemaJson"
                            ></ngx-codemirror>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Incluir una descripción:</label>
                            <textarea class="form-control" rows="2" id="txtDescripcion" placeholder="Enter ..."
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="descripcion"  
                            value ="{{descripcion}}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Escribir codigo fuente:</label>
                        <div class="form-group">
                            <ngx-codemirror
                            [ngModelOptions]="{standalone: true}" 
                            [(ngModel)]="contenido"
                            (ngModelChange)="setEditorContent($event)"
                            [options]="codeMirrorOptions"
                            ></ngx-codemirror>
                        </div>
                    </div>
                </div>


           
                
                
            
            </form>
        </div> 
        
   
</div>