<br>
<!-- <form #rolPrivilegios="ngForm" (ngSubmit)="onClickSubmit(rolPrivilegios)"> -->
<form  class="normal-form">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Funciones</label>
                <input type="text" id="txtName" class="form-control" placeholder="Enter ..." >
            </div>
        </div>
        <div class="col-md-8">
            <label>Descripcion</label>
            <div class="input-group mb-3">
                
                <input style="font-size:14px;" type="text" class="form-control" >
                <div class="input-group-prepend">
                    
                    <button type="button" mat-raised-button color="accent" >
                        <i class="fa fa-arrow-down" aria-hidden="true"></i> &nbsp; Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    
</form>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Lista de Estados</label>
  <!-- Scroll bar present and enabled when more contents -->        
  <div style="width: 100%; height: 200px; overflow-y: scroll;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <!-- <tr *ngFor="let item of Roles, let i = index"> -->
            <th scope="row">1</th>
            <td>Nombre</td>
            <td>Descripción</td>
            <td>
                <button mat-icon-button>
                    <mat-icon class="edit-icon" aria-hidden="false" >edit</mat-icon>
                  </button>
                <button mat-icon-button>
                <mat-icon class="delete-icon" aria-hidden="false">delete</mat-icon>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
        </div>
    </div>

</div>

