<div class="app-body" id="fondo">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4 ">
              <div class="card-body">
                <form (ngSubmit)="login('top-right', 'danger')" #form="ngForm" novalidate id="frmAcceso">
                  <h4>Datos básicos</h4>
                  <p class="text-muted">Hola! Bienvenidos a Ipsfa en línea.<br>
                    
                  </p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-pencil"></i></span>
                    </div>
                    <select  [(ngModel)]="titular"  class="form-control" 
                        name="titular" (selectedChange)="seleccionarTipo($event)" >
                        <option value="X">Seleccioné tipo de afiliado</option>
                        <option value="TIT">Titular</option>
                        <option value="SOB">Sobreviviente</option>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Cedula" 
                    autocomplete="lblcedula"  [(ngModel)]="lblcedula"  [ngModelOptions]="{standalone: true}" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-folder"></i></span>
                    </div>
                    <select [(ngModel)]="componente"  class="form-control" name="componente" >
                        <option value="X">Seleccioné componente</option>
                        <option value="EJ">Ejercito Bolivariano</option>
                        <option value="AR">Armada Bolivariana</option>
                        <option value="AV">Aviación Bolivariana</option>
                        <option value="GN">Guardia Nacional Bolivariana</option>
                    </select>
                  </div>
                
                  <div class="row">
                    <div class="col-12 text-right"><br>
                      <button type="submit" class="btn btn-primary px-4" ><i class="icon-"></i> Continuar</button>
                    </div>
                    
                  </div>
                </form>
                <form #form="ngForm" id="frmPreguntas" style="display:none">
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-pencil"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Cedula" 
                      [(ngModel)]="lblcedula"  [ngModelOptions]="{standalone: true}" required>
                  </div>
                   <div class="row">
                    <div class="col-12 text-right"><br>
                      <button type="submit" class="btn btn-primary px-4" ><i class="icon-"></i> Continuar</button>
                    </div>
                    
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-success py-8 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                    <h4>Registrarse</h4>
                   <p>Nunca fue tan facil y seguro</p>
                   <img src="../../assets/img/brand/seguridad.png" style="width: 240px;margin-top:-10px"> 
                <div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
    
  </main>
  
</div>